header{
    font-family: "Courier New";
    height: 2cm;
    width:auto;
    background-color: gray;
    margin-top: 0px;
    padding: 10px;

}
h2{
    padding:0px;

}
body{
    font-family: Helvetica;
    background-color: whitesmoke;
    width: auto;
}